/*======================reset css============================*/
*, *::before, *::after {
    /* 所有的标签和伪元素都选中 */
    margin: 0;
    padding: 0;
    /* 移动端常用布局时非固定像素 */
    -webkit-box-sizing: border-box;/*移动端兼容性*/
    box-sizing: border-box;
    /* 点击高亮效果的清除 */
    -webkit-tap-highlight-color: transparent;
}

body {
    font-size: 14px;
    font-family: "Microsoft YaHei UI",sans-serif;
    color: #333333;
}

ul,ol {
    list-style: none;
}

a {
    text-decoration: none;
    color: #333333;
}

input,textarea {
    border: none;
    outline: none;
    /*不允许改变尺寸*/
    resize: none;
    /*元素的外观 none没有任何样式*/
    appearance: none;
    -webkit-appearance: none;
}

/* 清除浮动 */
.clearFix::before,
.clearFix::after {
    content: "";
    display: block; /* 块级元素 */
    visibility: hidden; /* 隐藏 */
    height: 0;
    line-height: 0;
    clear: both;
}

/* 使用精灵图的公用样式 添加一个空格 */
[class^="icon_"],[class*=" icon_"] {
    background-repeat: no-repeat;
    background-image: url("../img/code1.png");
    background-size: 200px 200px;
}














